#objective .infobox{
    
}
#abox1,#qbox1,#sbox1,#pbox1 {
    width: 320px;
    height: 270px;
}
#abox2,#qbox2,#sbox2,#pbox2 {
    width: 145px;
    height: 100px;
}
#pbox1 {
    background-image: url('editor.png');
    background-size: cover;
}
#abox1 {
    background-image: url('me.png');
    background-size: cover;
    z-index: 1;

}
#qbox1 {
    background-image: url('qualifications.png');
    background-size: cover;
    z-index: 1;

}
#sbox1 {
    background-image: url('bigevent.png');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
    height: 235px;

}